* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
}

header,
.green,
article,
footer {
    padding: 10px;
}

.green,
article {
    min-height: 100px;
}

.blue { background-color: #67B3DD; }
.green { background-color: #9EE062; }
.yellow { background-color: #FEDF6B; }
.red { background-color: #FC302D; }
.purple {
    background-color: #6B2683;
    color: white;
}

.pink {
    background-color: #F03DB5;
}

@media (min-width: 1024px) {
    header {
        width: 50%;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .articles article {
        flex: 1 1 calc((100% - 20px) / 3);
    }
}